@media (max-width: 1000px) {

    /*--- Header ---*/
    .header_inner {
        height: 150px;
    }

    .headerLogoImg {
        margin-left: 5px;
        height: 130px;
        width: 81px;
    }

    .text_h4 {
        font-size: 30px;
    }

    .header_p {
        font-size: 45px;
    }

    /*--- Header fixed ---*/
    .header.fixed .header_inner {
        border-bottom: none;
        height: 120px;
    }


    .header.fixed .header_inner .headerLogoImg{
        height: 115px;
        width: auto;
    }

    /*--- Navigation ---*/
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
        padding: 30px 0;

    }

    .header.fixed .nav {
        background-color: #efa1af;

    }

    .nav.show {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav_inner:last-child {
        padding-right: 14px;
    }

    .nav_inner {
        padding: 0 15px;
        font-size: 25px;
    }

    .nav_burger {
        display: flex;
        color: white;
        margin-right: 50px;
        padding: 0;

        background: none;
        border: none;
        cursor: pointer;
    }

    .nav_burger_item {
        display: block;
        width: 40px;
        height: 5px;
        background-color: white;
        border-radius: 30px;

        position: relative;
    }

    .nav_burger_item:before,
    .nav_burger_item:after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 30px;

        background-color: white;

        position: absolute;
        left: 0;
        z-index: 1;
    }

    .nav_burger_item:before {
        top: -16px
    }

    .nav_burger_item:after {
        bottom: -16px
    }



    /*--- Intro ---*/
    .subscribe_button {
        width: 250px;
        height: 70px;
        font-size: 20px;


    }

    /*--- AboutMe ---*/
    .text_h4_modify {
        margin-top: 0;
        margin-bottom: 0;
    }

    .aboutMe_text_p {
        font-size: 19px;
        -webkit-text-size-adjust: none;

    }

    /*--- Courses ---*/
    .courses_content_pUppercase {
        font-size: 20px;
    }

    .courses_content_p {
        font-size: 20px;
    }

    /*--- MyWorks ---*/
    /*unchanged */

    /*--- Services ---*/
    .services_content_p {
        font-size: 32px;
        margin-top: 100px;
    }

    .services_content_mobile {
        margin-top: 150px;
    }

    .slick-dots button {
        width: 25px;
        height: 25px;
    }

    .slick-dots li {
        margin: 0 15px 50px;
    }

    /*--- Studio ---*/
    .studio_title {
        margin-bottom: 20px;
    }

    .studio_inner {
        width: 45%;
        padding: 50px 35px;
    }

    .studio_inner_img {
        width: 96px;
        height: 96px;
    }

    .studio_inner_h4 {
        font-size: 26px;

    }

    .studio_inner_p {
        font-size:25px;
        line-height: 1.5;
        margin-top: 25px;
    }

    /*--- Subscribe ---*/
    .subscribe_h4 {
        font-size: 35px;
        line-height: 1.5;
    }

    .subscribe_p {
        font-size: 25px;

    }

    .subscribe_button_modify {
        width: 312px;
        height: 70px;
    }

    /*--- Footer ---*/
    .footer {
        height: 400px;
    }

    /*.footer_title {*/
    /*    padding-bottom: 0;*/
    /*}*/

    .footer_inner_h4 {
        font-size: 24px;
        padding: 30px 35px 0 10px;
    }

    .footer_inner_h4:last-child {
        padding-right: 10px;
    }

    .footer_inner_time {
        font-size: 20px;
    }

    .socialNetwork {
        margin-top: 15px;
    }

    .socialNetwork_img {
        width: 60px;
        height: 60px;
    }
}